<header>
  <nav>
    <h1>Titan Signout Sheet</h1>
    <%= button_to 'Return to signout list', souts_path, method: :get %>
  </nav>
</header>
<p class= "paragraph_indent">
 <%= @sout.item_name %> has been signed back in.
</p>
<footer>
  <h3>Titan Lenders Corp</h3>
</footer>
